In [2]:
#package
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
# Ï†ïÍ∑úÌëúÌòÑÏãù
import re

# ÌïúÍ∏Ä Ìè∞Ìä∏
import matplotlib 
from matplotlib import font_manager,rc

# ÌïúÍ∏ÄÌè∞Ìä∏
font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc("font",family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

In [48]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ 
hilton=pd.read_csv("hilton_post",index_col=[0])
hilton.head()

,date,caption,id,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,comment,comment_like,comment_profile,ans_list
0,2020-04-09 16:33:28,"Over the past few weeks, we‚Äôve gotten lots of ...",1,hilton,GraphVideo,[],True,1730.0,30.3,194,29,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,0,3105070945,"["" [['@allpurple10 üíôüç™'"", ' <Profile hilton (42..."
1,2020-04-06 12:37:22,One million ‚Äòthank-yous‚Äô to the frontline medi...,2,hilton,GraphImage,['hotelsforheroes'],False,NaN,NaN,412,19,This is awesome!!!üëèüëèüëè,0,3105070945,"["" [['@allpurple10 thank you!'"", ' <Profile hi..."
2,2020-04-03 15:31:01,We‚Äôre joining with hotels across the world to ...,3,hilton,GraphSidecar,['hope'],False,NaN,NaN,418,7,Build with immortal love üëë,0,13811048459,"[' []]', "" ['‚ù§Ô∏è'"", ' 0', ' <Profile dionnemack..."
3,2020-03-11 15:54:11,We tend to lose track of things during a stay ...,4,hilton,GraphImage,[],False,NaN,NaN,98,1,#staugustine #staugustinefl #staugustinebeach ...,0,4284913372,[' []]]']
4,2020-03-09 18:02:10,"From Lake Boca to the beach, @bocaresort will ...",5,hilton,GraphImage,[],False,NaN,NaN,227,7,#boca #bocaraton #resortlife #exploreboca #bea...,0,4284913372,"[' []]', "" ['@giles.ynwa üíï'"", ' 0', ' <Profile..."

## Ïò§ÎäòÏùò Î™©Ìëú 

## comment_listÎ•º Î≥ÄÏàòÌôîÏãúÏºúÏÑú ÎÇòÌÉÄÎÇº Ïàò ÏûàÍ≤å ÌïòÏûê

### comment_list 
> \[ commentÏóê ÏûëÏÑ±Ìïú ÎÇ¥Ïö©, Î∞õÏùÄ Ï¢ãÏïÑÏöîÏùò Í∞úÏàò, comment ÏûëÏÑ±Ïûê, [ÎãµÍ∏Ä, ÎãµÍ∏Ä Ïì¥ ÏÇ¨Îûå, ÎãµÍ∏ÄÏóê ÎåÄÌïú likes]\]

### answerÏóê ÎåÄÌïú Í≤ÉÏùÄ Ï∂îÌõÑÏóê Îî∞Î°ú excelÎ°ú ÎßåÎì§Ïûê

In [4]:
def extract_text(text):
    '''comment Ï∂îÏ∂ú Ìï®Ïàò'''
    regex=re.compile(r"\'.*\'")
    mo=regex.search(text)
    if mo!=None:
        return mo.group()
    else:
        return ""

def extract_profile(text):
    '''profile id Ï∂îÏ∂ú Ìï®Ïàò'''
    regex=re.compile("\(.*\)")
    mo=regex.search(text)
    if mo!=None:
        return mo.group()[1:-1]
    else:
        return ""

In [5]:
# comment Ï∂îÏ∂ú 
hilton["comment"]=hilton["com_list"].apply(lambda x:extract_text(x.split(",")[0])[1:-1])

In [6]:
# \\nÏ†úÍ±∞ Î¨∏ÏûêÎßå ÎÇ®Í≤®Ï§çÎãàÎã§
hilton['comment']=hilton['comment'].apply(lambda x: x.strip(".\\n"))
hilton['comment']

0                                                ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è
1                                 This is awesome!!!üëèüëèüëè
2                            Build with immortal love üëë
3     #staugustine #staugustinefl #staugustinebeach ...
4     #boca #bocaraton #resortlife #exploreboca #bea...
                            ...
64    #travel #bali #visitbali #baliindonesia #indon...
65    In my day it was all about the Village! Now a ...
66    #travel #dali #china #visitchina #travelguide ...
67    #travel #india #visitindia #mysorepalace #trav...
68    #wanderlust #traveltheworld #traveler #travel ...
Name: comment, Length: 69, dtype: object

In [7]:
# postÍ∞Ä Î∞õÏùÄ Ï¢ãÏïÑÏöî Í∞úÏàò 
hilton['comment_like']=hilton['com_list'].apply(lambda x: int(x.split(",")[1]))
hilton['comment_like'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: comment_like, dtype: int64

In [8]:
hilton['comment_like'].unique()

array([0, 1, 3], dtype=int64)

In [9]:
# comment ÏûëÏÑ±Ïûê 
hilton["comment_profile"]=hilton["com_list"].apply(lambda x: extract_profile(x.split(",")[2]))
hilton['comment_profile']

0      3105070945
1      3105070945
2     13811048459
3      4284913372
4      4284913372
         ...
64     4284913372
65     1938464885
66     4284913372
67     4284913372
68     4284913372
Name: comment_profile, Length: 69, dtype: object

In [10]:
hilton['comment_profile'].unique()

array(['3105070945', '13811048459', '4284913372', '3263445086',
       '14796399086', '1938464885'], dtype=object)

In [11]:
# ans_listÎ•º Îã§Ïãú ÎΩëÏïÑÎ¥ÖÎãàÎã§
hilton['ans_list']=hilton['com_list'].apply(lambda x:x.split(",")[3:])# Ï∂îÌõÑ Ï†ïÎ¶¨Ìï† ÏòàÏ†ï 
hilton.drop(['com_list'],axis=1,inplace=True)
hilton.head()

,id,date,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,comment,comment_like,comment_profile,ans_list
0,1,2020-04-09 16:33:28,hilton,GraphVideo,[],True,1730.0,30.3,194,29,‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è,0,3105070945,"[ [['@allpurple10 üíôüç™', <Profile hilton (42849..."
1,2,2020-04-06 12:37:22,hilton,GraphImage,['hotelsforheroes'],False,NaN,NaN,412,19,This is awesome!!!üëèüëèüëè,0,3105070945,"[ [['@allpurple10 thank you!', <Profile hilto..."
2,3,2020-04-03 15:31:01,hilton,GraphSidecar,['hope'],False,NaN,NaN,418,7,Build with immortal love üëë,0,13811048459,"[ []], ['‚ù§Ô∏è', 0, <Profile dionnemacker (113..."
3,4,2020-03-11 15:54:11,hilton,GraphImage,[],False,NaN,NaN,98,1,#staugustine #staugustinefl #staugustinebeach ...,0,4284913372,[ []]]]
4,5,2020-03-09 18:02:10,hilton,GraphImage,[],False,NaN,NaN,227,7,#boca #bocaraton #resortlife #exploreboca #bea...,0,4284913372,"[ []], ['@giles.ynwa üíï', 0, <Profile patric..."

In [12]:
hilton.to_excel("hilton.xlsx")

In [13]:
list=["hilton","holiday_inn","hyatt","wyndharn"]
for i in list:
    df=pd.read_csv(i,index_col=[0])
    # comment Ï∂îÏ∂ú 
    df["comment"]=df["com_list"].apply(lambda x:extract_text(x.split(",")[0])[1:-1])
    # \\nÏ†úÍ±∞ Î¨∏ÏûêÎßå ÎÇ®Í≤®Ï§çÎãàÎã§
    df['comment']=df['comment'].apply(lambda x: x.strip(".\\n"))
    # postÍ∞Ä Î∞õÏùÄ Ï¢ãÏïÑÏöî Í∞úÏàò 
    df['comment_like']=df['com_list'].apply(lambda x: int(x.split(",")[1]))
    # comment ÏûëÏÑ±Ïûê 
    df["comment_profile"]=df["com_list"].apply(lambda x: extract_profile(x.split(",")[2]))
    df['ans_list']=df['com_list'].apply(lambda x:x.split(",")[3:])# Ï∂îÌõÑ Ï†ïÎ¶¨Ìï† ÏòàÏ†ï 
    df.drop(['com_list'],axis=1,inplace=True)
    #Ï∂îÏ∂ú 
    df.to_excel(i+".xlsx")

FileNotFoundError: [Errno 2] File hilton does not exist: 'hilton'

In [15]:
import ast
a="[['ü§ó', 2, '<Profile crazy_fresh86 (288680414)>',[['@crazy_fresh86 üòÄ', '<Profile hyatt (302621420)>', 1]]], ['Sounds awesome! üëçüèºüòé‚ù§Ô∏è', 3, '<Profile hotel_gym_rater (10128253160)>', [['@hotel_gym_rater üòÄ we completely agree!', '<Profile hyatt (302621420)>', 1]]], ['‚ù§Ô∏è', 2, '<Profile hyattregencygrandreservepr (14250952817)>', []], ['üß°üß°üß°', 1, '<Profile chypete (7506838)>', []], ['üôå‚ô•Ô∏èüôå', 1, '<Profile mkyricos (291592619)>', []], ['‚ù§Ô∏è like', 0, '<Profile 207rthw_73 (1415659565)>', []], ['Already at a 21 day streak üòç in love with @headspace ; grateful for the opportunity given by @hyatt', 1, '<Profile heartbigapple (1476184100)>', [['@heartbigapple what a great milestone!', '<Profile hyatt (302621420)>', 1]]], ['I use it often, love it so much! Thank you @hyatt ‚ù§Ô∏è', 2, '<Profile icrisvelez (3050694208)>', [['@icrisvelez our pleasure!', '<Profile hyatt (302621420)>', 0]]], ['@hyatt Executives Could Make BANK on Annual Stock Awards Despite 50% Pay Cut üí∞ #corona #covid https://www.fool.com/investing/2020/03/31/hyatt-executives-could-make-bank-on-annual-stock-a.aspx', 0, '<Profile baneandersen (26484260634)>', []]]"
print(type(a))
print(type(ast.literal_eval(a)))

<class 'str'>
<class 'list'>

Î¨∏Ï†úÏ†ê Î∞úÍ≤¨ <Profile>Ïù¥Îã§Í∞Ä ''Î•º Ï∂îÍ∞ÄÌï¥ÏÑú stringÏùò ÌòïÌÉúÎ°ú ÎßåÎì§Ïñ¥Ï§òÏïº Ìï©ÎãàÎã§.

Ïù¥Ï†ú postÏùò captionÎì§ÏùÑ Îì§Í≥†ÏôÄÏÑú Îç∞Ïù¥ÌÑ∞Î•º Ïû¨Ï†ïÎ†¨Ìï¥ÏïºÌïúÎã§

In [37]:
# #hilton postÏôÄ hilton data inner join
# post=pd.read_csv("wyndham_post",index_col=[0])
# post.head()

                  date                                            caption
0  2020-04-17 14:37:53  The safety of our guests and team members arou...
1  2020-04-17 03:24:19  We are‚Äîand always have been‚Äîcommitted to makin...
2  2020-04-16 21:19:09  Calling all essential workers: In honor of our...
3  2020-03-25 14:24:25  The safety of our guests and team members arou...
4  2020-03-11 17:17:22  After spending 10 hours hopping from ride to r...

In [38]:
# df=pd.read_csv("wyndham",index_col=[0])
# df.head()

,id,date,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,com_list
0,1,2020-03-25 14:24:25,wyndham,GraphImage,[],False,NaN,NaN,133,9,[['So are you closing any locations. And what ...
1,2,2020-03-11 17:17:22,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,67,5,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
2,3,2020-03-09 16:49:11,wyndham,GraphImage,"['wyndham', 'simplycomfortable']",False,NaN,NaN,63,3,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
3,4,2020-03-07 17:40:53,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,96,3,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
4,5,2020-03-03 16:57:02,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,78,1,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...

In [39]:
# new_df=pd.merge(post,df,how="inner")
# new_df.head()

,date,caption,id,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,com_list
0,2020-03-25 14:24:25,The safety of our guests and team members arou...,1,wyndham,GraphImage,[],False,NaN,NaN,133,9,[['So are you closing any locations. And what ...
1,2020-03-11 17:17:22,After spending 10 hours hopping from ride to r...,2,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,67,5,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
2,2020-03-09 16:49:11,The rooftop pool at @wyndhamalbrook was design...,3,wyndham,GraphImage,"['wyndham', 'simplycomfortable']",False,NaN,NaN,63,3,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
3,2020-03-07 17:40:53,Gain a new perspective of a buzzing city witho...,4,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,96,3,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
4,2020-03-03 16:57:02,Make your break and find your peace. Now throu...,5,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,78,1,[['#WyndhamRewards #Hotel #HotelLife #HotelRoo...

In [40]:
# new_df.to_csv("wyndham")

In [49]:
# Í∑∏Ï†ÑÍπåÏßÄ ÏàòÍ≥†ÌñàÏßÄÎßå Ïù¥Ï†ú Îçî ÏâΩÍ≤å Ìï¥Í≤∞Ìï¥Î≥¥ÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§ ;;;„Öé„Öé 
def comment_to_list(text):
    '''commentÎ•º listÎ°ú ÎßåÎì§Í∏∞ ÏúÑÌïú Ï†ÑÏ≤òÎ¶¨'''
    text=text.replace("<Profile","'<Profile")
    text=text.replace(")>",")>'")
    return text

list_=["holiday_inn","hyatt","wyndham"]
for i in list_:
    df=pd.read_csv(i,index_col=[0])
    print(df.head())
    df['com_list']=df['com_list'].apply(lambda x: ast.literal_eval(comment_to_list(x)))#com_listÏùò listÌôî 
    df.to_csv(i)

                  date                                            caption  id  \
0  2020-04-07 12:37:02  Given the uncertainty around COVID-19 and the ...   1
1  2020-03-31 14:09:16  Caring for people is what we do in hospitality...   2
2  2020-03-06 17:10:13  It's finally Friday! Nothing like that #Friday...   3
3  2020-02-27 21:06:10  How many times have you wished for an extra da...   4
4  2020-02-24 15:00:10  An extra day means more laughs, more fun, and ...   5

      profile        type                               caption_and_hashtags  \
0  holidayinn  GraphImage                                                 []
1  holidayinn  GraphVideo         ['ihg', 'truehospitality', 'lightsoflove']
2  holidayinn  GraphImage  ['fridayfeeling', 'bethereirl', 'holidayinnres...
3  holidayinn  GraphImage                                                 []
4  holidayinn  GraphImage                         ['leapyear', 'bethereirl']

   is_video  view_count  video_duration  likes  comments  \
0     False         NaN             NaN    284         9
1      True      2184.0            58.1    332        26
2     False         NaN             NaN    239         3
3     False         NaN             NaN    252         5
4     False         NaN             NaN    355         6

                                            com_list
0  [['I have a non refundable booking for 25th Ju...
1  [['Best hospitality with adorable and knowledg...
2  [['Holiday inn fresno has a fat woman called t...
3  [['Direct', 0, <Profile amaliabarros (23569077...
4  [['Which Holiday Inn is pictured please?', 1, ...
                  date                                            caption  id  \
0  2020-04-10 14:00:12  World of Hyatt is teaming up with @Headspace t...   1
1  2020-04-08 14:00:12  Caring For Our Community: @RevivalBaltimore is...   2
2  2020-04-06 19:00:10  A reminder to shine a light of hope at all tim...   3
3  2020-04-03 14:00:18                Distance can't stop us from caring.   4
4  2020-03-26 14:59:35  Our doors have been open for over 60 years. Th...   5

  profile        type caption_and_hashtags  is_video  view_count  \
0   hyatt  GraphVideo                   []      True      3275.0
1   hyatt  GraphVideo                   []      True      3008.0
2   hyatt  GraphImage                   []     False         NaN
3   hyatt  GraphVideo                   []      True      5158.0
4   hyatt  GraphImage                   []     False         NaN

   video_duration  likes  comments  \
0          14.000    439        13
1          15.500    375        11
2             NaN   1029         9
3          11.433    635        16
4             NaN   2684       162

                                            com_list
0  [['ü§ó', 2, <Profile crazy_fresh86 (288680414)>,...
1  [['I love what they doing üòç', 1, <Profile adaf...
2  [['hi, I would like to know how can I apply to...
3  [["I booked chandighar and amritsar but I have...
4  [["I'm missing Grand Hyatt Rio de Janeiro alre...
                  date                                            caption  id  \
0  2020-03-25 14:24:25  The safety of our guests and team members arou...   1
1  2020-03-11 17:17:22  After spending 10 hours hopping from ride to r...   2
2  2020-03-09 16:49:11  The rooftop pool at @wyndhamalbrook was design...   3
3  2020-03-07 17:40:53  Gain a new perspective of a buzzing city witho...   4
4  2020-03-03 16:57:02  Make your break and find your peace. Now throu...   5

   profile          type              caption_and_hashtags  is_video  \
0  wyndham    GraphImage                                []     False
1  wyndham  GraphSidecar  ['wyndham', 'simplycomfortable']     False
2  wyndham    GraphImage  ['wyndham', 'simplycomfortable']     False
3  wyndham  GraphSidecar  ['wyndham', 'simplycomfortable']     False
4  wyndham  GraphSidecar  ['wyndham', 'simplycomfortable']     False

   view_count  video_duration  likes  comments  \
0         NaN             NaN    133         9
1         NaN             NaN     67         5
2         NaN             NaN     63         3
3         NaN             NaN     96         3
4         NaN             NaN     78         1

                                            com_list
0  [['So are you closing any locations. And what ...
1  [['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
2  [['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
3  [['#WyndhamRewards #Hotel #HotelLife #HotelRoo...
4  [['#WyndhamRewards #Hotel #HotelLife #HotelRoo...

In [52]:
df=pd.read_csv("hilton_post",index_col=[0])
df.head()

,id,date,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,com_list
0,1,2020-04-09 16:33:28,hilton,GraphVideo,[],True,1730.0,30.3,194,29,"[['‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è', 0, <Profile allpurple10 (310507094..."
1,2,2020-04-06 12:37:22,hilton,GraphImage,['hotelsforheroes'],False,NaN,NaN,412,19,"[['This is awesome!!!üëèüëèüëè', 0, <Profile allpurp..."
2,3,2020-04-03 15:31:01,hilton,GraphSidecar,['hope'],False,NaN,NaN,418,7,"[['Build with immortal love üëë', 0, <Profile li..."
3,4,2020-03-11 15:54:11,hilton,GraphImage,[],False,NaN,NaN,98,1,[['.\n.\n.\n.\n#staugustine #staugustinefl #st...
4,5,2020-03-09 18:02:10,hilton,GraphImage,[],False,NaN,NaN,227,7,[['.\n.\n.\n.\n#boca #bocaraton #resortlife #e...

In [53]:
df["com_list"]=df['com_list'].apply(lambda x: ast.literal_eval(comment_to_list(x)))#com_listÏùò listÌôî 
df.to_csv("hilton_post")